# Ignore the Python virtual environment
venv/

# Byte-compiled and optimized files
*.pyc
*.pyo
*.pyd
__pycache__/

# Distribution/build directories
build/
dist/
*.egg-info/
*.egg

# Python cache directories
.cache/
*.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
.venv

# IDE/editor specific files
.vscode/
.idea/
*.swp
*~

# Logs and debugging
*.log
