{% extends "layout.html" %}

{% block content %}
<h1>Player Setup</h1>
<form action="{{ url_for('add_player') }}" method="POST" class="mb-3">
    <div class="input-group">
        <input type="text" name="name" placeholder="Player Name" class="form-control" required>
        <button type="submit" class="btn btn-primary">Add Player</button>
    </div>
</form>

<h2>Players:</h2>
<ul class="list-group mb-3">
    {% for player in players %}
    <li class="list-group-item">{{ player.name }}</li>
    {% endfor %}
</ul>

<form action="{{ url_for('start_game') }}" method="POST">
    <button type="submit" class="btn btn-success">Start Game</button>
</form>
{% endblock %}
